.List {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
}

.AddTo {
  max-height: calc(16rem + 15px);
  overflow: hidden auto;
  padding: 0.5rem;
}

@media screen and (max-width: 768px) {
  .List {
    margin: 1rem 0.5rem;
  }
}
