.Button {
  border-radius: 5px;
  height: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  transition: background-color 0.2s var(--ease);
  width: 2rem;
}

.Button:focus {
  outline: 2px solid var(--color-focus);
}

.Button:focus:not(:focus-visible) {
  outline: none;
}

.Button:disabled {
  color: var(--color-text-secondary);
}

@media (hover: hover) {
  .Button:hover {
    background-color: var(--color-panel);
  }

  .Button:disabled:hover {
    background-color: transparent;
    cursor: default;
  }
}
