.Container {
  padding: 5px 0px;
  position: absolute;
  z-index: 1000;
}

.Menu {
  animation: fadeIn 0.25s var(--ease) forwards;
  background-color: var(--color-bg-primary);
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3), 0px 3px 10px rgba(0, 0, 0, 0.3);
  min-width: 200px;
  opacity: 0;
  top: 100%;
  white-space: nowrap;
}

.Menu > div {
  padding: 0.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
