.Container {
  padding: 1rem;
}

.Container[data-scroll="true"] {
  overflow: hidden auto;
}

.Container h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.Content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (max-width: 768px) {
  .Container {
    padding: 1rem 0.5rem;
  }
}
