.Container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden auto;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .Container {
    padding: 1rem 0.5rem;
  }
}
