.Container {
  aspect-ratio: 1/1;
  background-color: var(--color-panel);
  border-radius: 5px;
  flex-shrink: 0;
  max-width: 320px;
  overflow: hidden;
  position: relative;
}

.Loading {
  animation: loadingAnim 1s cubic-bezier(0.17, 0.67, 0.83, 0.67) alternate infinite;
}

.Container img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}

.Img {
  opacity: 0;
  transition: opacity 0.25s ease-in;
  z-index: 10;
}

.ImgLoaded {
  opacity: 1;
}

@keyframes loadingAnim {
  from {
    background-color: var(--color-panel);
  }

  to {
    background-color: var(--color-focus);
  }
}
