.Container {
  position: relative;
}

.Button {
  align-items: center;
  border-radius: 5px;
  color: var(--color-text-default);
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.Button:focus {
  outline: 2px solid var(--color-focus);
}

.ProfileImage {
  background-color: var(--color-text-primary);
  border-radius: 50%;
  height: 2rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 2rem;
}

.Name {
  border-bottom: 1px solid var(--color-panel);
}

.Name p {
  line-height: 2.5rem;
  padding: 0rem 0.5rem;
  user-select: none;
}

.Actions {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

@media (hover: hover) {
  .Button:hover {
    background-color: var(--color-panel);
  }
}
