.Container {
  position: relative;
}

.Button {
  align-items: center;
  border-radius: 5px;
  color: var(--color-text-default);
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.Button:focus {
  outline: 2px solid var(--color-focus);
}

.ProfileImage {
  background-color: var(--color-text-primary);
  border-radius: 50%;
  height: 2rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 2rem;
}

.Menu {
  background-color: var(--color-panel-solid);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 3px 10px rgba(0, 0, 0, 0.3);
  min-width: 200px;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 100%;
  transform: translateY(0);
  transition-property: opacity, transform, visibility;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  visibility: hidden;
  white-space: nowrap;
  z-index: 700;
}

.Menu[data-open="true"] {
  opacity: 1;
  transform: translateY(0.5rem);
  visibility: visible;
}

.Menu > div {
  padding: 0.5rem;
}

.Name {
  border-bottom: 1px solid var(--color-panel);
}

.Name p {
  line-height: 2.5rem;
  padding: 0rem 0.5rem;
  user-select: none;
}

.Actions {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

@media (hover: hover) {
  .Button:hover {
    background-color: var(--color-panel);
  }
}
