:root {
  --ease: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--color-scroll) transparent;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll);
}

body[data-theme="light"] {
  --color-bg-body: #e7e8eb;
  --color-bg-primary: #ffffff;
  --color-bg-item: #ffffff;
  --color-bg-hover: rgba(40, 48, 54, 0.15);
  --color-bg-toggle: rgba(0, 0, 0, 0.25);
  --color-focus: rgba(0, 0, 0, 0.3);
  --color-header-border: rgba(0, 0, 0, 0.3);
  --color-scroll: rgba(0, 0, 0, 0.2);
  --color-text: #0f0f0f;
  --color-text-secondary: #484d5f;
}

body[data-theme="dark"] {
  --color-bg-body: #121e2a;
  --color-bg-primary: #2f3047;
  --color-bg-item: #1b2c3b;
  --color-bg-hover: rgba(113, 162, 207, 0.1);
  --color-bg-toggle: rgba(113, 162, 207, 0.25);
  --color-focus: rgba(113, 162, 207, 0.4);
  --color-header-border: rgba(0, 0, 0, 0.5);
  --color-scroll: rgba(113, 162, 207, 0.2);
  --color-text: #efefef;
  --color-text-secondary: #acb1c2;
}

body {
  background-color: var(--color-bg-body);
  color: var(--color-text);
  font-family: "Work Sans", sans-serif;
  height: 100vh;
}

#__next {
  display: grid;
  grid-template-rows: 4rem 1fr;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

::placeholder {
  color: var(--color-text-secondary);
  opacity: 1;
}

section {
  flex: 1;
  overflow: hidden auto;
  position: relative;
  width: 100%;
}

fieldset {
  border: none;
  max-width: 100%;
  min-width: 0;
  width: 100%;
}

fieldset:disabled {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

a {
  text-decoration: none;
}

a,
button,
input {
  color: var(--color-text);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button,
input {
  font-family: "Work Sans", sans-serif;
}

input {
  font-size: 1rem;
}

input:focus {
  outline: none;
}

svg {
  pointer-events: none;
}

input[type="range"] {
  appearance: none;
  background: transparent;
  border-radius: 2px;
  cursor: pointer;
  height: 1.5rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--color-focus);
  border-radius: 5px;
  height: 0.3rem;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  background: var(--color-text);
  border-radius: 50%;
  height: 1.25rem;
  margin-top: -0.45rem;
  width: 1.25rem;
}

input[type="range"]::-moz-range-track {
  background: var(--color-focus);
  border-radius: 5px;
  height: 0.3rem;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  background: var(--color-text);
  border: none;
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
}

input[type="range"]:focus {
  outline: 2px solid var(--color-focus);
  outline-offset: 3px;
}

input[type="range"]:focus:not(:focus-visible) {
  outline: none;
}
