* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body[data-theme="light"] {
  background-image: linear-gradient(215deg, #8cd38e 29.9%, #43a5e7 80%),
    linear-gradient(304deg, rgba(255, 101, 53, 0.4) 24.9%, #aa2743 91%),
    linear-gradient(10deg, #b1c9d8 19.9%, #2776aa 50%),
    linear-gradient(145deg, #f4df26 15.9%, #ff1b9a 40%);

  --color-text-default: #0f0f0f;
  --color-text-secondary: #353535;
  --color-panel: rgba(0, 0, 0, 0.1);
  --color-panel-solid: rgba(162, 235, 205, 0.6);
}

body[data-theme="dark"] {
  background-image: linear-gradient(215deg, #88402e 29.9%, #162568 80%),
    linear-gradient(304deg, rgba(177, 15, 123, 0.4) 24.9%, #911f37 91%),
    linear-gradient(10deg, #b1c9d8 19.9%, #2776aa 50%),
    linear-gradient(145deg, #fff9cd 15.9%, #ff1b9a 40%);

  --color-text-default: #efefef;
  --color-text-secondary: #b8b8b8;
  --color-panel: rgba(255, 255, 255, 0.1);
  --color-panel-solid: rgba(83, 44, 81, 0.5);
}

body {
  /* background-attachment: fixed; */
  background-blend-mode: hard-light;
  background-repeat: no-repeat;
  color: var(--color-text-default);
  font-family: "Work Sans", sans-serif;
  height: 100vh;
  /* touch-action: none; */
}

body::before {
  backdrop-filter: blur(20px);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

main {
  flex: 1;
  padding: 0.5rem;
  width: 100%;
}

a,
button {
  color: var(--color-text-default);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input,
button {
  font-family: "Work Sans", sans-serif;
}
