.Title {
  align-items: baseline;
  display: flex;
  gap: 0.25rem;
  justify-content: space-between;
  /* margin-bottom: 1rem; */
  padding: 1rem 1rem 0rem 1rem;
}

.Title h3,
.Title a {
  white-space: nowrap;
}

.Title h3 {
  font-size: 1.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Title a {
  color: var(--color-text-secondary);
  font-size: 0.9rem;
  transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (hover: hover) {
  .Title a:hover {
    color: var(--color-text-default);
  }
}

@media screen and (max-width: 768px) {
  .Title {
    padding: 1rem 0.5rem 0rem 0.5rem;
  }
}
