.Container {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.Button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}

.Button svg {
  transition: transform 0.1s ease-in-out;
}

@media (hover: hover) {
  .Button:hover svg {
    transform: scale(125%);
  }
}
