.Container {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.Button {
  border-radius: 50%;
  font-size: 1rem;
  height: 3rem;
  padding: 5px;
  width: 3rem;
}

.Button[aria-label="Play/Pause"] {
  height: 4rem;
  width: 4rem;
}

.Button:focus {
  outline: 2px solid var(--color-focus);
}

.Button svg {
  transition: transform 0.25s ease-in-out;
}

@media (hover: hover) {
  .Button:hover svg {
    transform: rotate(360deg) scale(125%);
  }
}
