.Container {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.Button {
  padding: 5px;
}

.Button svg {
  transition: transform 0.25s ease-in-out;
}

@media (hover: hover) {
  .Button:hover svg {
    transform: rotate(360deg) scale(125%);
  }
}
