.Container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-gap: 1rem;
  justify-content: space-between;
  margin: 1rem;
}

.Item {
  background-color: var(--color-bg-item);
  border-radius: 5px;
  padding: 1rem;
}

.Item:focus {
  outline: 2px solid var(--color-focus);
}

.Item:focus:not(:focus-visible) {
  outline: none;
}

.Details {
  margin-top: 1rem;
}

.Details * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .Container {
    margin: 1rem 0.5rem;
  }
}
