.Container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
}

.Item {
  background-color: var(--color-panel);
  border-radius: 5px;
  padding: 1rem;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.Item:focus {
  outline: 2px solid var(--color-focus);
}

.Item:focus:not(:focus-visible) {
  outline: none;
}

.Details {
  margin-top: 1rem;
}

.Details * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (hover: hover) {
  .Item:hover {
    background-color: var(--color-scroll);
  }
}

@media screen and (max-width: 768px) {
  .Container {
    padding: 1rem 0.5rem;
  }
}
