.Container > div {
  padding: 0.5rem;
}

.Track {
  align-items: center;
  border-bottom: 1px solid var(--color-panel);
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.Data {
  flex: 1;
  overflow: hidden;
}

.Data p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Data p:first-of-type {
  font-weight: 700;
}

.Delete {
  border-bottom: 1px solid var(--color-panel);
  display: flex;
  gap: 0.5rem;
}

/* .Delete > button:nth-child(2) {
  width: 7rem;
} */

.DeleteMsg {
  line-height: 1.5rem;
  padding: 0.5rem;
}

.Playlists {
  height: calc(13.5rem + 15px);
  overflow: hidden auto;
  transition: height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.Playlists[data-collapse="true"] {
  height: 5rem;
}

.Playlists > form {
  margin-top: 0px;
}

.LogIn {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.LogInBtn {
  background-color: var(--color-panel);
  border-radius: 5px;
  width: 75%;
}

.QuickActions {
  border-top: 1px solid var(--color-panel);
  display: flex;
  gap: 0.5rem;
}
