.Container {
  align-items: center;
  background-color: var(--color-bg-primary);
  border-bottom: 1px solid var(--color-header-border);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  z-index: 800;
}

.Title {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  text-transform: capitalize;
}

.Title h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Actions {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

@media screen and (max-width: 768px) {
  .Container {
    padding: 0.5rem;
  }
}
