.Container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Title,
.Message,
.Actions {
  padding: 0.5rem;
}

.Title {
  align-items: center;
  border-bottom: 1px solid var(--color-panel);
  display: flex;
  justify-content: space-between;
}

.Title h3 {
  line-height: 2.5rem;
}

.Title h3,
.Message p {
  padding-left: 0.5rem;
}

.Message p {
  line-height: 1.5rem;
}

.Actions {
  align-self: flex-end;
  display: flex;
  gap: 0.5rem;
}

.Actions button {
  border-radius: 5px;
  font-size: 1rem;
  height: 2.5rem;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  width: 5rem;
}

.Actions button:focus {
  outline: 2px solid var(--color-focus);
}

@media (hover: hover) {
  .Actions button:hover {
    background-color: var(--color-panel);
  }
}
