.Container > div {
  padding: 0.5rem;
}

.Title {
  align-items: center;
  border-bottom: 1px solid var(--color-panel);
  display: flex;
  justify-content: space-between;
}

.Title h3,
.Message p {
  padding-left: 0.5rem;
}

.Title h3 {
  line-height: 2.5rem;
}

.Message p {
  line-height: 1.5rem;
}

.Message input {
  background-color: var(--color-panel);
  border: none;
  border-radius: 5px;
  flex: 1;
  height: 2.5rem;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  width: 100%;
}

.Message input:focus {
  outline: 2px solid var(--color-focus);
}

.Actions {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}

.Actions > button {
  width: 5rem;
}
