.Form {
  background-color: var(--color-panel);
  border-radius: 5px;
  display: flex;
  margin: 3px 0px;
  overflow: hidden;
}

.Form:focus-within {
  outline: 2px solid var(--color-focus);
}

.Form input {
  line-height: 2.5rem;
  padding: 0rem 0.5rem;
}

.Form input {
  background-color: transparent;
  border: none;
  flex: 1;
  padding-left: 0.5rem;
}

.Form button {
  width: 2rem;
}

.Form button:focus {
  outline: none;
}
