.List {
  list-style: none;
}

.Form {
  border-radius: 5px;
  display: flex;
  overflow: hidden;
}

.List a {
  border-radius: 5px;
  display: block;
}

.List a,
.Form input {
  color: var(--color-text-secondary);
  cursor: pointer;
  font-size: 1rem;
  line-height: 2.5rem;
  padding: 0rem 0.5rem;
  transition: color 0.25s ease-in-out;
}

.Form input {
  background-color: transparent;
  border: none;
  flex: 1;
  padding-left: 0.5rem;
}

.Form input:focus {
  color: var(--color-text-default);
  cursor: text;
}

.Form button {
  display: none;
  width: 2rem;
}

.Form button:focus {
  outline: none;
}

.List a:focus,
.Form:focus-within {
  outline: 2px solid var(--color-focus);
}

.Form:focus-within button {
  display: initial;
}

@media (hover: hover) {
  .List a:hover {
    color: var(--color-text-default);
  }
}
