.Container > div {
  padding: 0.5rem;
}

.Track {
  align-items: center;
  border-bottom: 1px solid var(--color-panel);
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.Data {
  flex: 1;
  overflow: hidden;
}

.Data p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Data p:first-of-type {
  font-weight: 700;
}

.Playlists {
  max-height: 30vh;
  overflow: auto;
}
