.Link {
  border-radius: 5px;
  display: block;
  font-size: 1rem;
  line-height: 2.5rem;
  overflow: hidden;
  padding: 0rem 0.5rem;
  text-overflow: ellipsis;
  transition: background-color 0.2s var(--ease);
  white-space: nowrap;
  width: 100%;
}

.Link:focus {
  outline: 2px solid var(--color-focus);
}

.Link:focus:not(:focus-visible) {
  outline: none;
}

.Link:disabled {
  color: var(--color-text-secondary);
}

.Link[data-align="left"] {
  text-align: left;
}

.Link[data-align="center"] {
  text-align: center;
}

.Link[data-align="right"] {
  text-align: right;
}

@media (hover: hover) {
  .Link:hover {
    background-color: var(--color-bg-hover);
  }

  .Link:disabled:hover {
    background-color: transparent;
    cursor: default;
  }
}
