.Container {
  background-color: var(--color-panel-solid);
  backdrop-filter: blur(15px);
  bottom: 0;
  box-shadow: 1px 0px rgba(0, 0, 0, 0.3), 5px 0px 10px rgba(0, 0, 0, 0.2);
  /* display: flex;
  flex-direction: column;
  gap: 0.5rem; */
  left: 0;
  max-width: 75%;
  overflow: hidden auto;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  transform: translateX(-105%);
  transition: transform 0.25s ease-in-out;
  width: 20rem;
  z-index: 1000;
}

.Open {
  transform: translateX(0%);
}

.Logo {
  align-items: center;
  border-bottom: 1px solid var(--color-focus);
  display: flex;
  flex-shrink: 0;
  height: 3.5rem;
  justify-content: space-between;
  /* margin-bottom: 0.5rem; */
  /* padding: 0.5rem; */
}

.Links {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.Links a,
.Playlists summary {
  border-radius: 5px;
  color: var(--color-text-secondary);
  cursor: pointer;
  line-height: 2.5rem;
  padding: 0rem 0.5rem;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.Links a:focus,
.Playlists summary:focus {
  outline: 2px solid var(--color-focus);
}

.Playlists {
  margin: 3px 0px;
}

.Playlists summary {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

.Playlists summary svg {
  transition: transform 0.25s ease;
}

.Playlists[open] summary svg {
  transform: rotate(180deg);
}

.Links a.Active {
  color: var(--color-text-default);
}

.Overlay {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.25s ease-in-out;
  transition-property: opacity, visibility;
  visibility: hidden;
  z-index: 900;
}

.OverlayShow {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

@media (hover: hover) {
  .Links a:hover,
  .Playlists summary:hover {
    background-color: var(--color-panel);
  }
}
