.Container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.Providers {
  align-self: center;
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0rem auto;
  max-width: 100%;
  padding: 0.5rem;
}

.Providers button {
  background-color: var(--color-bg-hover);
  direction: rtl;
  padding: 0rem clamp(0.5rem, 5vw, 2.5rem);
}

@media (hover: hover) {
  .Providers button:hover {
    background-color: var(--color-scroll);
  }
}
