.Container {
  background-color: var(--color-panel);
  border-radius: 5px;
  display: flex;
  margin: 1rem 0rem;
}

.Container:focus-within {
  outline: 2px solid var(--color-focus);
}

.Input {
  background-color: transparent;
  border: none;
  flex: 1;
  height: 2.5rem;
  padding-left: 0.5rem;
}

.Submit {
  /* align-self: stretch; */
  /* height: 100%; */
  width: 2rem;
}

.Submit:focus {
  outline: none;
}
