.Container {
  padding: 1rem;
}

.Container h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.Content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-gap: 1rem;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .Container {
    padding: 1rem 0.5rem;
  }
}
