.Container {
  align-items: center;
  /* background-color: var(--color-panel); */
  border-left: 1px solid var(--color-focus);
  display: none;
  flex-direction: column;
  gap: 1rem;
  /* height: 1px;
  min-height: 5rem; */
  min-height: calc(100vh - 4rem);
  padding: 1rem 0.5rem;
  width: 356px;
}

.Open {
  display: flex;
}

.Tags {
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.Tags p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Title {
  font-weight: 700;
}

.Artist {
  font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
  .Container {
    border-left: none;
    width: 100%;
  }
}
