.Container {
  align-items: center;
  background-color: burlywood;
  display: flex;
  gap: 1rem;
  height: 5rem;
  padding: 0.5rem;
}

.Tags {
  overflow: hidden;
  width: 20vw;
}

.Tags p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Title {
  font-weight: 700;
}

.Artist {
  font-size: 0.9rem;
}
