.Container[open] .Icon {
  transform: rotate(180deg);
}

.Container[open] > div {
  animation: fadeIn 0.5s var(--ease);
}

.Summary {
  align-items: center;
  border-radius: 5px;
  color: var(--color-text-default);
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  line-height: 2.5rem;
  padding: 0rem 0.5rem;
  transition: background-color 0.2s var(--ease);
}

.Summary:focus {
  outline: 2px solid var(--color-focus);
}

.Summary:focus:not(:focus-visible) {
  outline: none;
}

.Icon {
  transition: transform 0.25s ease;
}

.Content {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 3px;
  padding-left: calc(0.5rem + 0.875em);
}

@media (hover: hover) {
  .Summary:hover {
    background-color: var(--color-panel);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
